<div class="user">
  <h1><%= @user_on_page.name %>'s appointments:</h1>
  <div class='js-appointments-count'>
    <p>Customer appointments: <%= pluralize(@user_on_page.customer_appointments.count, 'appointment')%></p>
    <p>Vendor appointments: <%= pluralize(@user_on_page.vendor_appointments.count, 'appointment')%></p>
  </div>
    <div class="js-appointments">
      <%= render partial: 'appointments/appointment', collection: @appointments %>
    </div>
  <% if @user_on_page != @visiting_user && @user_on_page.role == "vendor and customer and admin" || @user_on_page.role == "vendor" || @user_on_page.role == "vendor and customer" && @visiting_user.role == 'vendor and customer and admin' || @visiting_user.role == 'vendor and customer' || @visiting_user.role == 'customer' %>
    <div class="new-appointment">
      <%= render partial: 'appointments/form', locals: {visiting_user: @visiting_user, appointment: @appointment, user_on_page: @user_on_page}%>
    </div>
  <%end %>
</div>
